body{
    background-color: black;
}
h1{
    color:white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 75px;

}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-align: center;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    margin: 30px;
}
